<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Kat Foo</title>
    </head>
    <body>

    <main role="main">
        <div class="main-container">
          <div class="col-sm-4 spacer"></div>
          <div class="col-sm-4">
            <div class="feed-button-wrap">
                <h1>Feeds us K thx!</h1>
                <button class="btn btn-primary feed_cta">Noms</button>
                <div class="error-message"></div>
                <div class="cat-icon"></div>
            </div>
          </div>
          <div class="col-sm-4 spacer">
              <span>Feedings remaining:</span>
              <span class="feed-count">-</span>
          </div>
        </div>
    </main>

    <script src="app.js"></script>
    </body>
</html>